<app-sidebar></app-sidebar>

<div class="dashboard-container">
    
        <div class="top-cards">
            <div class="card">
                <div class="icon">
                    <i class="bi bi-people-fill"></i>    
                </div>
               
                <a [routerLink]="['/manageuser']" style="text-decoration: none; color: inherit;">
                    <div class="details">
                      <h4>Total Connection</h4>
                      <h2>{{ totalCustomers }}</h2>
                    </div>
                  </a>
                  
            </div>
            <div class="card">
                <div class="icon"><i class="bi bi-currency-rupee"></i></div>
                <a [routerLink]="['/payment']" style="text-decoration: none; color: inherit;">
                    <div class="details">
                      <h4>Total Payments</h4>
                      <h2>Rs. {{ totalPayments | number:'1.2-2' }}</h2>
                    </div>
                  </a>                  
            </div>
            <div class="card">
                <div class="icon"><i class="bi bi-exclamation-triangle"></i></div>
                <a [routerLink]="['/generatebill']" style="text-decoration: none; color: inherit;">
                    <div class="details">
                      <h4>Pending Payments</h4>
                      <h2>{{ pendingPayments }}</h2>
                    </div>
                  </a>
                  
            </div>
        </div>
        

    <!-- Graph & Payment Analysis -->
    <div class="middle-section">
        <div class="graph-card">
            <h4>Total Payments</h4>
            <h2>Rs. {{ totalPayments }}</h2>
            <canvas #paymentGraph></canvas>  
        </div>
        <div class="pie-chart">
            <h4>Payment Analysis</h4>
            <canvas #pieChart></canvas>  
        </div>
    </div>

    <!-- Weekly Payments & Pending Payments -->
  <div class="extra-info">
    <div class="weekly-payments">
        <h3>Weekly Payments</h3>
        <canvas #weeklyChart></canvas>
      </div>
    <div class="pending-payments">
        <app-defaulter-bills></app-defaulter-bills>
     
    </div>
  </div>


    <!-- Recent Payments -->
    <div class="recent-payments">
        <app-recent-payments></app-recent-payments>
    </div> 


    
</div>
