<app-sidebar></app-sidebar>
<div class="container">
    <div class="header">
        <h2>Manage Customers</h2>
        <span class="branch">Lalitpur Branch</span>
    </div>

    <div class="search-container">
        <div class="search-box">
            <input type="text" placeholder="Search" [(ngModel)]="searchText" />
            <i class="bi bi-search"></i>
        </div>
        <button class="add-user" (click)="addCustomer()">Add Customer</button>
    </div>

    <div class="user-table">
        <table>
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Unit Consumption</th>
                    <th>Bill Due Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of filteredCustomers">
                    <td>{{ customer.customerId }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phoneNumber }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.unitConsumption }}</td>
                    <td>{{ customer.billDueDate | date: 'yyyy-MM-dd' }}</td>
                    <td>
                        <div class="action-buttons">
                            <button class="edit-btn" (click)="editCustomer(customer)">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <span class="separator"></span>
                            <button class="delete-btn" (click)="deleteCustomer(customer.customerId)">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </div>
                    </td>
                    
                    
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
