
<div class="defaulter-bills-container">
    <h4>Overdue Bills</h4>
    <table class="defaulter-bills-table">
        <thead>
            <tr>
                <th>Meter Number</th>
                <th>Due Date</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bill of overdueBills">
                <!-- <td>{{ bill.meterNumber }}</td> -->
                <td>
                    <span class="meter-number">
                        <i class="bi bi-exclamation-diamond-fill"></i> 
                        {{ bill.meterNumber }}
                    </span>
                </td>
                
                <td>{{ bill.dueDate }}</td>
                <td class="amount">Rs. {{ bill.totalBillAmount }}</td>
            </tr>
        </tbody>
    </table>
</div>
