<div class="sidebar">
    <div class="logo">
        <span class="bulb">
            <img src="assets/electrical-energy_4514764.png" alt="Logo">
        </span>
        <h1>BBC Ops</h1>
    </div>
    <ul class="menu">
        <li routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-home"></i>
            <span>Dashboard</span>
        </li>
       
        <li routerLink="/manageuser" routerLinkActive="active">
            <i class="fas fa-user"></i>
            <span>Manage User</span>
        </li>
        <li routerLink="/generatebill" routerLinkActive="active">
            <i class="fas fa-file-invoice"></i>
            <span>Invoice</span>
        </li>
        <li routerLink="/payment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-home"></i>
            <span>Payment</span>
        </li>
        <li routerLink="/report" routerLinkActive="active">
            <i class="fas fa-user-circle"></i>
            <span>Report</span>
        </li>
        <li routerLink="/profile" routerLinkActive="active">
            <i class="fas fa-user-circle"></i>
            <span>Profile</span>
        </li>
    </ul>
    <button class="logout" (click)="logout()">Logout</button>

</div>
